.btn-1 {
    background-color: #C7D945;
    color: #672C91;
    border-radius: 10px;
    font-size: 20px;
    width: 207px;
    height: 78px;

}

.btn-2 {
    background-color:#672C91;
    color: #E5E5E5;
    border-radius: 10px;
    font-size: 20px;
    width: 207px;
    height: 78px;
}
